/*
 * Copyright (C) 2018 Hexastorm - http://www.hexastorm.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;
/plugin/;

/ {
	compatible = "ti,beaglebone", "ti,beaglebone-black", "ti,beaglebone-green";

	/* identification */
	part-number = "firestarter";
	version = "0.1";
        exclusive-use =
		"P9.12",
		"P9.14",
		"P9.15",
		"P9.16",
		"P9.19",
		"P9.20",
		"P9.24",	// i2c1_sda
		"P9.25",
		"P9.26",	// i2c1_scl
		"P9.27",
		"P9.28",
		"P9.29",
		"P9.30",
		"P9.41",

                "i2c1"; // hardware ip used0

	fragment@0 {
		target = <&am33xx_pinmux>;
		__overlay__ {

		        i2c1_pins: pinmux_i2c1_pins {
			        pinctrl-single,pins = <
		                        0x184 0x73  /* P9_26 I2C1-SCL */
					0x180 0x73  /* P9_24 I2C1-SDA */ 
		                >;
	                };
			pinctrl_test: pinctrl_test_0_pins {
				pinctrl-single,pins = <
					0x1ac 0x05  /* P9_25 Polygon Enable */
					0x1a4 0x05  /* P9_27 Polygon PWM    */
                                        0x194 0x05  /* P9_29 Laserdiode PWM1*/
					0x190 0x05  /* P9_31 Laserdiode PWM2*/
				        0x1a8 0x26  /* P9_41 Photodiode     */
                                        0x178 0x07  /* P9_20 Y-dir          */
                                        0x078 0x07  /* P9_12 X-dir          */
					0x19c 0x05  /* P9_28 X-step         */
					0x198 0x05  /* P9_30 Y-step         */
                                        0x048 0x27  /* P9_14 X-endstop      */
					0x04c 0x27  /* P9_16 Y-endstop      */
					0x040 0x07  /* P9_15 X-enable       */
					0x17c 0x07  /* P9_19 Y-enable       */
				>;
			};
		};
	};

	fragment@1 {
		target = <&ocp>;
		__overlay__ {
		        
			test_helper: helper {
				compatible = "bone-pinmux-helper";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_test>;
				status = "okay";
			};
		};

	};

	fragment@2 {
		target = <&i2c1>;

		__overlay__ {
		        pinctrl-0 = <&i2c1_pins>;
                        pinctrl-names = "default";
		        clock-frequency = <100000>;
		        status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};


        fragment@3 {
		target = <&i2c2>;
		__overlay__ {
			status = "disabled";
		};
        };

};
